@page
@model Proyect3TWN.WebSite.Pages.VacationsAbsences.List

<div class="container-fluid">
    <form method="get">
        <div class = "row">
            <div class = "col-md-8"></div>
            <div class = "col-md-4">
                <br/>
                <button id = "btnSearch" class="btn btn-primary mr-3" >Search</button>
                <a asp-page="/VacationsAbsences/Add" class="btn btn-success"> Add New</a>
            </div>
        </div>
    </form>
    
    
    <div class="row">
        <div class="col-md-1"></div>
        
        <div class="col-10">
            <table class="table">
                <tr>
                    <th>ID_Employee</th>
                    <th>Type</th>
                    <th>Deducted</th>
                    <th>StartDate</th>
                    <th>EndDate</th>
                    <th></th>
                </tr>
                @foreach (var vacations in @Model.vacations)
                {
                    <tr>
                        <td>@vacations.ID_Employee</td>
                        <td>@vacations.Type</td>
                        <td>@vacations.Deducted</td>
                        <td>@vacations.StartDate</td>
                        <td>@vacations.EndDate</td>
                        <td>
                            <a a-asp-area="" asp-page="/VacationsAbsences/Edit" asp-route-id="@vacations.id"
                               class="btn btn-primary" role="button">Edit</a>
                            <a a-asp-area="" asp-page="/VacationsAbsences/Delete" asp-route-id="@vacations.id"
                               class="btn btn-danger" role="button">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="col-md-1"></div>
    </div>
    
</div>