@page
@model Proyect3TWN.WebSite.Pages.PerfomanceReviews.List
<head>
    <link rel="stylesheet" href="~/css/PerfomanceReview/TablePerfomance.css" asp-append-version="true"/>
</head>
<h5>Performance Reviews</h5>
<div class="container-fluid">
    <form method="get">
        <div class="row justify-content-center mb-4">
            <div class="col-md-4 text-center">
                <a asp-page="/PerfomanceReviews/Add" class="btn btn-success-add">Add New</a>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-10">
            <div class="table-container">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Employee</th>
                            <th>Evaluation Date</th>
                            <th>Classification</th>
                            <th>Comments</th>
                            <th>Goals</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var perfomance in @Model.PerfomanceReview)
                        {
                            <tr>
                                <td>@Model.EmployeeName[perfomance.ID_Employee]</td>
                                <td>@perfomance.EvaluationDate.ToString("dd/MM/yyyy")</td>
                                <td>@perfomance.Clasification</td>
                                <td>@perfomance.Comments</td>
                                <td>@perfomance.Goals</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <a asp-area="" asp-page="/PerfomanceReviews/Edit" asp-route-id="@perfomance.id" class="btn btn-primary" role="button">Edit</a>
                                        <a asp-area="" asp-page="/PerfomanceReviews/Delete" asp-route-id="@perfomance.id" class="btn btn-danger" role="button">Delete</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-1"></div>
    </div>
</div>
