@page
@model Proyect3TWN.WebSite.Pages.PerfomanceReviews.List

<div class="container-fluid">
    <form method="get">
        <div class = "row">
            <div class = "col-md-8"></div>
            <div class = "col-md-4">
                <br/>
                <button id = "btnSearch" class="btn btn-primary mr-3" >Search</button>
                <a asp-page="/PerfomanceReviews/Add" class="btn btn-success"> Add New</a>
            </div>
        </div>
    </form>
    
    
    <div class="row">
        <div class="col-md-1"></div>
        
        <div class="col-10">
            <table class="table">
                <tr>
                    <th>ID_Employee</th>
                    <th>Evaluation Date</th>
                    <th>Clasification</th>
                    <th>Comments</th>
                    <th>Goals</th>
                    <th></th>
                </tr>
                @foreach (var perfomance in @Model.PerfomanceReview)
                {
                    <tr>
                        <td>@perfomance.ID_Employee</td>
                        <td>@perfomance.EvaluationDate</td>
                        <td>@perfomance.Clasification</td>
                        <td>@perfomance.Comments</td>
                        <td>@perfomance.Goals</td>
                        <td>
                            <a a-asp-area="" asp-page="/PerfomanceReviews/Edit" asp-route-id="@perfomance.id"
                               class="btn btn-primary" role="button">Edit</a>
                            <a a-asp-area="" asp-page="/PerfomanceReviews/Delete" asp-route-id="@perfomance.id"
                               class="btn btn-danger" role="button">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="col-md-1"></div>
    </div>
    
</div>