@page
@model Proyect3TWN.WebSite.Pages.Employees.List
<head>
    <link rel="stylesheet" href="~/css/Employee/ListEmployee.css" asp-append-version="true"/>
</head>
<h1>Employees</h1>
<div class="container-fluid-employees">
    <form method="get">
     <div class="row justify-content-center mb-4">
         <div class="col-md-4 text-center">
             <a asp-page="/Employees/Add" class="btn btn-success-new">Add New</a>
         </div>
        </div>
    </form>

    <div class="row">
        @foreach (var employee in Model.employee)
        {
            <div class="col-md-4 mb-3">
                <div class="card-employee">
                    <div class="card-body-employee">
                        <h5 class="card-title-employee">@employee.Name @employee.LastName</h5>
                        <p class="card-text-employee"><strong>Birth Date:</strong> @employee.BirthDate</p>
                        <p class="card-text-employee"><strong>Gender:</strong> @employee.Gender</p>
                        <p class="card-text-employee"><strong>Address:</strong> @employee.Address</p>
                        <p class="card-text-employee"><strong>Phone:</strong> @employee.Phone</p>
                        <p class="card-text-employee"><strong>Email:</strong> @employee.Email</p>
                        <p class="card-text-employee">
                            <strong>Department:</strong>
                            @if (Model.DepartmentNames.ContainsKey(employee.ID_Department))
                            {
                                @Model.DepartmentNames[employee.ID_Department]
                            }
                            else
                            {
                                <span class="text-danger">Department Not Found</span>
                            }
                        </p>
                        <div class="btn-group" role="group" aria-label="Options">
                            <a asp-page="/Employees/Edit" asp-route-id="@employee.id" class="btn btn-primary-list">Edit</a>
                            <a asp-page="/Employees/Delete" asp-route-id="@employee.id" class="btn btn-danger-list">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
