@page
@model Proyect3TWN.WebSite.Pages.Pyrolls.List
<head>
    <link rel="stylesheet" href="~/css/Pyrolls/ListPyrolls.css" asp-append-version="true"/>
</head>
<h1>Pyrolls</h1>
<div class="container-fluid-pyrolls">
    <form method="get">
        <div class="row justify-content-center mb-4">
            <div class="col-md-4 text-center">
                <a asp-page="/Pyrolls/Add" class="btn btn-success-new">Add New</a>
            </div>
        </div>
    </form>

    <div class="row">
        @foreach (var pyroll in Model.pyrolls)
        {
            <div class="col-md-4 mb-3">
                <div class="card-pyroll">
                    <div class="card-body-pyroll">
                        <h5 class="card-text-employee">
                            <strong>Employee:</strong>
                            @if (Model.Employees.ContainsKey(pyroll.ID_Employee))
                            {
                                @Model.Employees[pyroll.ID_Employee]
                            }
                            else
                            {
                                <span class="text-danger">Employee Not Found</span>
                            }
                        </h5>
                        <p class="card-text-pyroll"><strong>Payment Date:</strong> @pyroll.PaymentDate</p>
                        <p class="card-text-pyroll"><strong>Salary:</strong> @pyroll.Salary</p>
                        <p class="card-text-pyroll"><strong>Bonuses:</strong> @pyroll.Bonuses</p>
                        <p class="card-text-pyroll"><strong>Deductions:</strong> @pyroll.Deductions</p>
                        <p class="card-text-pyroll"><strong>Hours Worked:</strong> @pyroll.HoursWorked</p>

                        <div class="btn-group" role="group" aria-label="Options">
                            <a asp-page="/Pyrolls/Edit" asp-route-id="@pyroll.id" class="btn btn-primary-list">Edit</a>
                            <a asp-page="/Pyrolls/Delete" asp-route-id="@pyroll.id" class="btn btn-danger-list">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
